.portofolio {
    margin-top: -200px;
}

.portofolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portofolio__item {
    background-color: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portofolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portofolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.portofolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portofolio__item-cta {
    display: flex;
    gap: 1rem;
    margin: 1rem;

}

.portfolio__item-slide {
    display: flex;
    justify-content: center;
}


/* MEDIA QUERY(MEDIUM) */

@media screen and (max-width: 1024px) {
    .portofolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* MEDIA QUERY(SMALL) */

@media screen and (max-width: 600px) {
    .portofolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}