
body {
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
}
.custom-border-class {
  border-color: rgb(192, 192, 192); 
}

header {
    height: 100vh;
    padding-top: 10rem;
    overflow: hidden;
}

.header__container {
    text-align: none;
    height: 100%;
    position: relative;
}

/*jumbotron*/
.jumbotron .text{
	padding-bottom: 6rem;
}
.jumbotron{
	background-size: cover;
	height: 100vh;
	margin-top: -100px;	
	background-position: center;
}
.jumbotron .text h2{
	text-transform: uppercase;
	font-family: var(--lato);
	font-size: 24px;
	font-weight: 300;
	padding-top: 9.5rem;
}
.jumbotron .text h1{
	text-transform: capitalize;
	font-family: var(--abril);
	font-size: 75px;
	color: black;
	overflow: hidden;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
  	background-color: transparent;
  }
  100% {
  	background-color: #ccc;
  }
}
.jumbotron .text h1 .cursor{
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}
.jumbotron .text h1 .cursor .typing {
	animation: none;
}
.jumbotron .text span{	
	color: var(--purple);
}

.jumbotron .text h3{
	text-transform: capitalize;
	font-family: var(--poppins);
	font-size: 24px;
	font-weight: 400;
	display: flex;
	padding-bottom: 25px;
}
.jumbotron .text h3::after{
	content: '';
	display: block;
	border-right: 7px solid var(--lightpurple);
	width: 5px;
}
.jumbotron .sosial-media a{
	text-decoration: none;
	color: var(--lightgray);
	padding-right: 25px;
	width: 50px;
	height: 50px;
}
.sosial-media {
  display: flex;
  align-items: center;

}



/* MEDIA QUERY(MEDIUM) */

@media screen and (max-width: 1024px) {
    header {
        height: 68hv;
    	padding-top: 5rem;
    }
}

/* MEDIA QUERY(SMALL) */

@media screen and (max-width: 600px) {
    header {
        height: 105vh;
    	padding-top: 0rem;
    }
	.xs\:bottom-10 {
    bottom: 20px;
  	}
    .header__social,
    .scroll_down {
        display: none;
    }
}