/* ProjectDetail.css */

/* Example adjustments */
.project-detail {
    padding: 50px;
    min-height: 100vh; /* Ensure the page takes at least the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project-detail p {
    max-width: 600px;
    margin: 0 auto;
    /* Additional styling as needed */
  }
  